
@import "../abstracts/variables";    

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 50%;
    }

    @media only screen and (max-width: $breakpoint-smallest) {

        font-size: 40%;

    }

}




.container {

    display: grid;

    grid-template-rows: [nav-start] 6.5rem [nav-end jumbotron-start] 92vh [jumbotron-end info-start] 85vh [info-end gallery-start] min-content [gallery-end signup-start] min-content [signup-end footer-start] min-content [footer-end];
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];
    
    @media only screen and (max-width: $breakpoint-large) {

        grid-template-rows: [nav-start] 6.5rem [nav-end jumbotron-start] 70vh [jumbotron-end info-start] 70vh [info-end gallery-start] min-content [gallery-end signup-start] min-content [signup-end footer-start] min-content [footer-end];

    }

    @media only screen and (max-width: $breakpoint-medium) {

        grid-template-rows: [jumbotron-start] 70vh [jumbotron-end info-start] 40vh [info-end gallery-start] min-content [gallery-end signup-start] min-content [signup-end footer-start] min-content [footer-end];

    }
    
    
    @media only screen and (max-width: $breakpoint-small) {

        grid-template-rows: [jumbotron-start] 60vh [jumbotron-end info-start] 60vh [info-end gallery-start] min-content [gallery-end signup-start] min-content [signup-end footer-start] min-content [footer-end];

    }


    @media only screen and (max-width: $breakpoint-smallest) {

        grid-template-rows: [jumbotron-start] 60vh [jumbotron-end info-start] 60vh [info-end gallery-start] min-content [gallery-end signup-start] min-content [signup-end footer-start] min-content [footer-end];
        grid-template-columns: [sidebar-start] 6rem [sidebar-end full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];

    }

}

.container--login {

    display: grid;

    grid-template-rows: [nav-start] 6.5rem [nav-end main-start] 92vh [main-end];
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end];

}


.container--shop {

    display: grid;

    grid-template-rows: [nav-start] 6.5rem [nav-end main-start] minmax(93vh, max-content) [main-end];
    grid-template-columns: [full-start] repeat(12, minmax(min-content, 1fr)) [full-end];


}